* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f6f4;
}

.container {
  display: flex;
  align-items: center;
  min-height: 100%;
  background-color: #f7f6f4;
}

.sidebar {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding: 70px 20px 0px 20px;
  background-color: #ff493c;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu_items {
  width: 100%;
}

.menu_item {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 20px 10px;
}

.button {
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.button .fas {
  color: #fff;
  opacity: .5;
  transition: all .3s;
}

.button:hover .fas {
  opacity: 1;
}

.menu_item[active] .button .fas {
  color: #ff493c;
  opacity: 1;
}

.menu_hilight {
  background-color: #f7f6f4;
  position: absolute;
  left: 17px;
  top: 0px;
  height: 43px;
  width: calc(100% - 17px);
  border-radius: 35px 0px 0px 35px;
  z-index: 1;
  transition: transform .25s ease-in-out;
}

.menu_hilight:before {
  content: '';
  position: absolute;
  top: -29px;
  right: -1px;
  height: 30px;
  width: 50px;
  background: radial-gradient(circle at top left, transparent 66%, #f7f6f4 70%) bottom right/24px 23px no-repeat;
}

.menu_hilight:after {
  content: '';
  position: absolute;
  bottom: -22px;
  right: -2px;
  height: 30px;
  width: 50px;
  background: radial-gradient(circle at bottom left, transparent 64%, #f7f6f4 67%) bottom right/24px 23px no-repeat;
}
